@using Business.Abstract
@using Business.Constants
@model ManageAccountViewModel
@inject ICityService _cityService

@{
    Layout = "_AdminLayout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container">
    <h1>Hesabım</h1>
    @if (TempData[TempDataTypes.ManageInfo] != null)
    {
        <div class="alert-info">@TempData[TempDataTypes.ManageInfo].ToString()</div>
    }
    <form asp-controller="Admin" asp-action="ManageAccount" method="post">
        <div class="form-group">
            <input  style="display: none" asp-for="UpdateWorkerDto.IdentityNo" type="text" class="form-control" value="@Model.UpdateWorkerDto.IdentityNo" placeholder=""/>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.FirstName">Adı</label>
            <input asp-for="UpdateWorkerDto.FirstName" type="text" class="form-control" value="@Model.UpdateWorkerDto.FirstName" placeholder=""/>
            <span class="text-danger" asp-validation-for="UpdateWorkerDto.FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.LastName">Soyadı</label>
            <input asp-for="UpdateWorkerDto.LastName" type="text" class="form-control" value="@Model.UpdateWorkerDto.LastName" placeholder=""/>
            <span class="text-danger" asp-validation-for="UpdateWorkerDto.LastName"></span>
        </div>
        <div class="form-group">
            <input  style="display: none" asp-for="UpdateWorkerDto.Email" type="text" class="form-control" value="@Model.UpdateWorkerDto.Email" placeholder=""/>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.PhoneNumber">Telefon Numarası</label>
            <input asp-for="UpdateWorkerDto.PhoneNumber" type="text" class="form-control" value="@Model.UpdateWorkerDto.PhoneNumber" placeholder=""/>
            <span class="text-danger" asp-validation-for="UpdateWorkerDto.PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.GenderId">Cinsiyeti</label>
            <select asp-for="UpdateWorkerDto.GenderId" class="form-control" asp-items="@Model.GenderNamesSelectItems"></select>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.Street">Cadde/Sokak</label>
            <input asp-for="UpdateWorkerDto.Street" type="text" class="form-control" value="@Model.UpdateWorkerDto.Street" placeholder=""/>
            <span class="text-danger" asp-validation-for="UpdateWorkerDto.Street"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.AddressNumber">Adres No</label>
            <input asp-for="UpdateWorkerDto.AddressNumber" type="text" class="form-control" value="@Model.UpdateWorkerDto.AddressNumber" placeholder=""/>
            <span class="text-danger" asp-validation-for="UpdateWorkerDto.AddressNumber"></span>
        </div>
        @{
            var cities = _cityService.GetAll().Data;
            var cityitems = new List<SelectListItem>();
            foreach (var city in cities)
            {
                cityitems.Add(new SelectListItem
                {
                    Text = city.CityName,
                    Value = city.CityId.ToString()
                });
            }
            <div class="form-group">
                <label asp-for="UpdateWorkerDto.CityId">İl</label>
                <select id="city" asp-for="UpdateWorkerDto.CityId" class="form-control" asp-items="cityitems"></select>
            </div>
        }
        @{
            bool selected = false;
            var districts = _cityService.GetDistrictsByCityId(Model.UpdateWorkerDto.CityId).Data;
            var districtitems = new List<SelectListItem>();
            foreach (var district in districts)
            {
                if (district.DistrictId == Model.UpdateWorkerDto.DistrictId)
                {
                    selected = true;
                }

                districtitems.Add(new SelectListItem
                {
                    Text = district.DistrictName,
                    Value = district.DistrictId.ToString(),
                    Selected = selected
                });

                selected = false;
            }
        }
        <div class="form-group">
            <label asp-for="UpdateWorkerDto.DistrictId">İlçe</label>
            <select id="district" asp-for="UpdateWorkerDto.DistrictId" class="form-control" asp-items="districtitems"></select>
            <script type="text/javascript">
                $("#city").change(function() {
                    $("#district").empty();

                    var city = $("#city").val();

                    $.ajax(
                        {
                            url: '@Url.Action("GetDistricts", "User")',
                            type: "POST",
                            dataType: "json",
                            data: { cityId: city },

                            success: function(data) {
                                $.each(data,
                                    function() {
                                        $("#district").append('<option id=' + this.districtId + ' value=' + this.districtId + '>' + this.districtName + '</option>');
                                    });
                            }
                        });
                });
            </script>
        </div>
        <input type="submit" value="Kaydet" class="btn btn-success btn-sm"/>
    </form>
</div>
<br />
<br />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>