@using Business.Constants
@model BrandListViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Markalar";
}

<h1>Markalar</h1>
@if (TempData[TempDataTypes.BrandInfo] != null)
{
    <div class="alert alert-info">@TempData[TempDataTypes.BrandInfo].ToString()</div>
}
@if (TempData[TempDataTypes.BrandDelete] != null)
{
    <div class="alert alert-info">@TempData[TempDataTypes.BrandDelete].ToString()</div>
}
@if (TempData[TempDataTypes.BrandCantDeleted] != null)
{
    <div class="alert alert-warning">@TempData[TempDataTypes.BrandCantDeleted].ToString()</div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<input class="form-control" id="search" type="text" placeholder="Ara..">
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#fields tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<table class="table table-hover table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th><center>Marka Numarası</center></th>
            <th><center>Marka Adı</center></th>
            <th><center><a href="/Brand/Add" class="btn btn-success btn-sm">Marka Ekle</a></center></th>
        </tr>
    </thead>
    <tbody id="fields">

        @foreach (var brand in Model.Brands)
        {
            <tr>
                <td><center>@brand.BrandId</center></td>
                <td><center>@brand.BrandName</center></td>
                <td><center><a href="/Brand/Delete?brandId=@brand.BrandId" class="btn btn-danger btn-sm">Sil</a></center></td>
            </tr>
        }
    </tbody>
</table>