@using Business.Abstract
@model CompleteOrderViewModel
@inject ICityService _cityService
@{
    Layout = "_ManageAccount";
    ViewBag.Title = "Sipariş Onayı";
}
<h2>Teslimat Bilgisi</h2>
<table  class="table table-responsive">
    <thead class="thead-dark">
    <tr>
        <th>Adres Adı</th>
        <th>Adres</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>@Model.ShippingDetail.AddressName</td>
        <td>
            @Model.ShippingDetail.Street @Model.ShippingDetail.Number
            @_cityService.GetDistrictById(Model.ShippingDetail.DistrictId).Data.DistrictName / @_cityService.GetCityById(Model.ShippingDetail.CityId).Data.CityName
        </td>


    </tr>
    </tbody>

</table>
<h2>Alacağınız Ürünler</h2>
<table style="width: 100%;" class="table table-responsive">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok Adedi</th>
        <th>Satış Adedi</th>
    </tr>
    </thead>
    @foreach (var cartLine in Model.Cart.CartLines)
    {
        <tbody>
        <tr>
            <td>@cartLine.Product.ProductId</td>
            <td>@cartLine.Product.ProductName</td>
            <td>@cartLine.Product.UnitPrice</td>
            <td>@cartLine.Product.UnitsInStock</td>
            <td>@cartLine.Quantity</td>
        </tr>
        </tbody>
    }
</table>
<h4 class="text-black-50">
    Sipariş Tutarı:  ₺
    @{
        decimal totalPrice = 0;
        @foreach (var cartLine in Model.Cart.CartLines)
        {
            totalPrice += cartLine.Product.UnitPrice * cartLine.Quantity;
        }
        @totalPrice.ToString("#.##")
    }
</h4>
<form asp-controller="Cart" asp-action="Completed" method="post">
    <div class="form-group">
        <input style="display: none;" name="shippingDetailId"  type="text" class="form-control" value="@Model.ShippingDetail.ShippingDetailId" />
    </div>
    <input type="submit" value="Onayla" class="btn btn-success btn-sm" />
</form>
