@using Business.Constants
@model CartListViewModel
@{
    Layout = "_ManageAccount";
    ViewBag.Title = "Sepetim";
}

<h2>Sepetim</h2>
@if (TempData[TempDataTypes.StockInsufficient] != null)
{
    <div class="alert alert-warning">@TempData[TempDataTypes.StockInsufficient].ToString()</div>
}
@if (TempData[TempDataTypes.RemovedFromCart] != null)
{
    <div class="alert alert-danger">@TempData[TempDataTypes.RemovedFromCart].ToString()</div>
}
@if (TempData[TempDataTypes.DecreasedFromCart] != null)
{
    <div class="alert alert-danger">@TempData[TempDataTypes.DecreasedFromCart].ToString()</div>
}
@if (Model.Cart.CartLines.Count == 0)
{
    <div class="alert alert-danger">Sepetiniz Boş</div>
}
else
{
    <table class="table table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok Adedi</th>
                <th>Satış Adedi</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var cartLine in Model.Cart.CartLines)
        {
            <tbody>
                <tr>
                    <td>@cartLine.Product.ProductId</td>
                    <td>@cartLine.Product.ProductName</td>
                    <td>@cartLine.Product.UnitPrice</td>
                    <td>@cartLine.Product.UnitsInStock</td>
                    <td>@cartLine.Quantity</td>
                    <td><a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Product.ProductId">Azalt</a></td>
                    <td><a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Product.ProductId" asp-route-removeAll="true">Kaldır</a></td>
                    <!--Butona tıklayınca Cart controllerındaki addtocart fonksiyonunu çağırsın asp-route sonuna parametre gelince onnu gönderiyor-->
                </tr>
            </tbody>
        }
    </table>
    <a href="/Cart/Complete" class="btn btn-success" role="button">Siparişi Tamamla</a>
}
