@using Business.Constants
@using DataAccess.Abstract
@model CustomerListViewModel
@inject IGenderDal _genderDal
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Müşteriler";
}

<ul style="width: 100%; margin-left:-2%" class="list-group list-group-horizontal">
    <a style="width: 33%;  color: #818181" href="/User/Index" class="list-group-item">Yöneticiler</a>
    <a style="width: 33%;  color: #818181" href="/User/Worker" class="list-group-item">Çalışanlar</a>
    <a style="width: 34%;  background-color: #262626; color: #818181" href="/User/Customer" class="list-group-item">Müşteriler</a>
</ul>
@if (TempData[TempDataTypes.ManageInfo] != null)
{
    <div class="alert alert-info">@TempData[TempDataTypes.ManageInfo].ToString()</div>
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><center>Adı Soyadı</center></th>
            <th><center>E-posta Adresi</center></th>
            <th><center>Telefon No</center></th>
            <th><center>Cinsiyet</center></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.Users)
        {
            <tr>
                <td><center>@user.FirstName @user.LastName</center></td>
                <td><center>@user.Email</center></td>
                <td><center>@user.PhoneNumber</center></td>
                <td><center>@_genderDal.Get(g=>g.GenderId == user.GenderId).GenderName</center></td>
            </tr>
        }
    </tbody>
</table>